
<div class="new_arrivals " style="padding-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col text-center pb-4">
                <div class="section_title new_arrivals_title ">
                    <h2>OurProducts</h2>
                </div>
            </div>
        </div>
        <app-search></app-search>
        <div class="row gy-5">
            @for (item of products; track item.id) {

            <div class="col-md-3">

            <app-card-item [productItem]="item"></app-card-item>                  
              
                    
            </div>
        }
        </div>
    
    </div>
</div>