<div class="container w-50 border rounded px-5 p-1" style="margin-top: 175px;">

    <h2 class="text-center my-2">Add Product</h2>
    <form [formGroup]="AddForm" (ngSubmit)="handleSubmit()">
        <div class="row">
        <div class="mb-2 col-md-6">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" class="form-control" formControlName="name">
        </div>
        @if(AddForm.get('name')?.invalid &&
        (AddForm.get('name')?.touched || submitted)){
        <div id="nameErrors" class="form-text text-danger">
            @if(AddForm.get('name')?.hasError('required')){
            <span>Required</span>
            }
        </div> 
        }
        <div class="mb-2 col-md-6">
            <label for="price" class="form-label">price</label>
            <input type="text" name="price" class="form-control" formControlName="price">
        </div>
        @if(AddForm.get('price')?.invalid &&
        (AddForm.get('price')?.touched || submitted)){
        <div id="priceErrors" class="form-text text-danger">
            @if(AddForm.get('price')?.hasError('required')){
            <span>Required</span>
            }
        </div> 
        }
        <div class="mb-2 col-md-12 ">
            <label for="exampleInputEmail1" class="form-label">Description</label>
            <input type="description" name="description" class="form-control" formControlName="description" 
                aria-describedby="emailHelp">
        </div>
        @if(AddForm.get('description')?.invalid &&
        (AddForm.get('description')?.touched || submitted)){
        <div id="descriptionErrors" class="form-text text-danger">
            @if(AddForm.get('description')?.hasError('required')){
            <span>Required</span>
            }
           
        </div>
        }
        <div class="mb-2 col-md-6">
            <label for="stock" class="form-label">stock</label>
            <input type="number" name="stock" class="form-control" formControlName="stock">
        </div>
        @if(AddForm.get('stock')?.invalid &&
        (AddForm.get('stock')?.touched || submitted)){
        <div id="stockErrors" class="form-text text-danger">
            @if(AddForm.get('stock')?.hasError('required')){
            <span>Required</span>
            }
        </div> 
        } <div class="mb-2 col-md-6">
            <label for="status" class="form-label">status</label>
            <select name="status" class="form-control" formControlName="status">
                <option value="available">available</option>
                <option value="unavailable">unavailable</option>
            </select>
        </div>
        @if(AddForm.get('status')?.invalid &&
        (AddForm.get('status')?.touched || submitted)){
        <div id="statusErrors" class="form-text text-danger">
            @if(AddForm.get('status')?.hasError('required')){
            <span>Required</span>
            }
        </div> 
        }
         <div class="mb-2 col-md-6">
            <label for="category" class="form-label">category</label>
            <select name="category_id" class="form-control" formControlName="category_id" id="">
                @for (item of categories; track item.id) {
                    <option value={{item.id}}>{{item.name}}</option>

                }
            </select>
        </div>
        @if(AddForm.get('category_id')?.invalid &&
        (AddForm.get('category_id')?.touched || submitted)){
        <div id="category_idErrors" class="form-text text-danger">
            @if(AddForm.get('category_id')?.hasError('required')){
            <span>Required</span>
            }
        </div> 
        }
        <div class="mb-2 col-md-6">
            <label for="rating" class="form-label">rating</label>
            <input type="number" name="rating" class="form-control" formControlName="rating">
        </div>
        @if(AddForm.get('rating')?.invalid &&
        (AddForm.get('rating')?.touched || submitted)){
        <div id="ratingErrors" class="form-text text-danger">
            @if(AddForm.get('rating')?.hasError('required')){
            <span>Required</span>
            }
        </div>
    }
  

        <div class="mb-2 col-md-12">
            <label for="image" class="form-label">Image</label>
            <input type="file" id="image" class="form-control" (change)="onFileChange($event)">
            <div *ngIf="AddForm.get('image')?.invalid && (AddForm.get('image')?.touched || submitted)" class="form-text text-danger">
                <span *ngIf="AddForm.get('image')?.hasError('required')">Required</span>
            </div>
        </div>
        @if(AddForm.get('image')?.invalid &&
        (AddForm.get('image')?.touched || submitted)){
        <div id="imageErrors" class="form-text text-danger">
            @if(AddForm.get('image')?.hasError('required')){
            <span>Required</span>
            }
           
        </div>
        }
      

      
        
        <div class="d-flex justify-content-center col-md-12">
            <button type="submit"  class="btn btn-primary w-50 m-auto "> Add Product</button>
        </div>
    </div>
    </form>
</div>
